<div style="border:1px solid black;width:30em;position:absolute;height:6em;bottom:0;right:0;background-color:#fff" data-dojo-attach-point="chat">
    <div>Mars</div>
    <div style="border:1px solid black;width:7em;float:left">
        <div>Position</div>
        <div>x:<span data-dojo-attach-point="positionX"></span></div>
        <div>y:<span data-dojo-attach-point="positionY"></span></div>
        <div>z:<span data-dojo-attach-point="positionZ"></span></div>
    </div>
    <div style="border:1px solid black;width:7em;float:left">
        <div>Direction</div>
        <div>x</div>
        <div>y</div>
        <div>z</div>
    </div>
    <div style="border:1px solid black;width:10em;float:left">
        <div>Distance</div>
        <div>x</div>
        <div>y</div>
        <div>z</div>
    </div>
</div>
